<footer id="footer">
    <div class="wrapper">
        <div class="social-links">
            <!-- <a target="_blank" href="" rel="noopener" aria-label="Facebook"><img src="./img/facebook.svg" /></a>
            <a target="_blank" href="" rel="noopener" aria-label="Instagram"><img src="./img/instagram.svg" /></a> -->
            <a target="_blank" href="https://github.com/newtri" rel="noopener" aria-label="Github"><amp-img src="{{ site.baseurl }}/assets/images/github.svg" width="24" height="24"></a>
            <a target="_blank" href="mailto:contacto@quetru.cl?subject=Proyecto%20Newtri" rel="noopener" aria-label="Email"><amp-img src="{{ site.baseurl }}/assets/images/mail.svg" width="24" height="24" /></a>
        </div>
        <div class="attribution">
            Newtri® es un proyecto desarrollado por el equipo de <a href="https://medsur.cl" rel="noopener" target="_blank">Medsur</a> y Quetru Ltda.
            <br>
            Todos los derechos reservados © 2019
        </div>
    </div>
</footer>
