@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$grey-color:       #828282;

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.cf {
  @include clearfix;
}

$rs: 16px;

$font-sans: "Roboto", sans-serif;
$font-serif: Georgia,Cambria,"Times New Roman",Times,'Lora', serif;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

// Only needed for syntax highlighting
%vertical-rhythm {
  margin-bottom: $rs;
}

main {
  display: block;
}

body {
  background-color: #fff;
  font-family: 'Google Sans', 'Roboto', 'Noto', sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.site-header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  top: 0;
  width: 100%;
  padding: 8px 24px 8px;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }
  box-shadow: 0 0 2px rgba(0,0,0,.2);

  .page-links {
      display: block;
      padding: 8px;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      top: 10px;
      right: $rs;

  }

}
.titulo {
  text-decoration: none;
  color: #dd0074;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 20px;
  position: absolute;
}

.blog-header {
  width: 100%;
  max-width: 700px;
  margin: 160px auto 120px;
  position: relative;
  padding: 0;
  @include box-sizing(border-box);

  .blog-title {
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 400;
    outline: 0;
    line-height: 40px;
    word-break: break-word;
    color: #283593;
  }
  .blog-description {
    font-size: 24px;
    margin: 0 0 20px;
    max-width: 600px;
    padding: 0;
    line-height: 1.2;
    color: #666666;
    font-weight: 300;
  }
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 120px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }

  article {
    padding: 20px 0;
    border-bottom: 1px solid rgba(40,53,147,.45);
    &:last-child {
      border-bottom: 0px;
    }
    .post-title {
      letter-spacing: -0.02em;
      font-weight: 400;
      font-style: normal;
      display: block;
      font-size: 38px;
      line-height: 1.15;
      margin: 0 0;
      a {
        text-decoration: none;
        color: #dd0074;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .post-excerpt {
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 1.59;
      color: #666665;
    }
    .post-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px;
      a {
        color: #b3b3b1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.post-template .content {
  max-width: 700px;
}

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;
  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.nav-item {
  text-decoration: none;
  color: #283593;
}



.post {
  .post-meta {
    font-family: $font-sans;
  }
  .post-title {
    font-weight: 800;
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    color: #283593;
    margin-bottom: 50px;
  }
  .author-image {
    background-image: url({{ site.baseurl }}{{site.author_image}});
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
  }
  .post-meta-text {
    color: #b3b3b1;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: $font-sans;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-content {
    width: 100%;
    font-family: $font-sans;
    color: #333333;
    h1, h2, h3 {
      font-family: $font-sans;
    }
    h3, h4, h5, h6 {
      letter-spacing: -0.02em;
      font-weight: 600;
      font-style: normal;
      font-size: 24px;
      line-height: 1.3;
      margin-top: 50px;
      margin-bottom: 0px;
      font-family: $font-sans;
    }
    h3 {
      font-size: 32px;
    }
    h2, h1 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 42px;
      line-height: 1.2;
      margin-top: 50px;
      margin-bottom: 0px;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
      padding: 5px;
      text-align:left;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.59;
      letter-spacing: -.002em;
      margin-top: 30px;
      margin-bottom: 0;
      color: #333333;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
    amp-img, amp-youtube {
      margin-top: 30px;
    }
    figure {
      margin: 0;
      padding: 0 0 30px;
    }
    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 30px auto;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    blockquote {
      margin: 0 0 30px;
      border-left: 3px solid #dd0074;
      padding-left: 20px;
      p {
        letter-spacing: 0.01rem;
        font-weight: 400;
        mborder-left: 3px solid #57ad68;
        mpadding-left: 20px;
        mmargin-left: -26px;
        padding-bottom: 3px;
        opacity: .8;
      }
    }
    ul, ol {
      padding: 0 0 30px;
      margin: 0;
    }
    li {
      padding: 0;
      font-weight: 400;
      font-style: normal;
      font-size: 23px;
      line-height: 30px;
      margin-left: 30px;
      margin-bottom: 12px;
      padding-top: 2px;
      p {
        padding: 0 0 golden-ratio(1rem, 1);
      }
    }
    ol li {
      list-style-type: decimal;
    }
  }
  .bottom-teaser {
    padding: 50px 0 0 0;
    font-family: $font-sans;
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 16px 0 16px 100px;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    .isLeft {
      width: 100%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
        padding-bottom: $rs * 2;
      }
      .bio {
        margin-top: 18px;
        margin-bottom: 18px;
      }
      .username {
        margin-left: 4px;
        margin-right: 18px;
        margin-bottom: 18px;
      }
      .index-headline {
        padding-bottom: 32px;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #333333;
        }
      }
      .author-image {
        display: block;
        width: 80px;
        height: 80px;
        float: left;
        background-repeat: no-repeat;
        background-size: 80px 80px;
        background-position: center;
        border-radius: 100%;
        text-indent: -9999px;
      }
      h4 {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
        padding: 0;
        margin: 0;
        padding-left: 100px;
      }
      p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 100px;
        &.published {
          color: #999999;
        }
      }
    }
  }
}

.share {
  text-align: right;
  padding: 20px 0 0;
  a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333333;
    }
  }
}


pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination .disabled {
    opacity: 0;
}

/* Footer */
footer {
  background: #f5f5f5;
  padding-left: 24px;
  margin-top: 24px;
}

footer .wrapper {
  padding-top: 24px;
  /* No spacing between child elements. */
  font-size: 0px;
}

footer .group {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 40px 24px 0;
}

footer .attribution {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #999;
}

footer .social-links {
  margin: -8px 0 24px -8px;
}

footer .social-links a {
  display: inline-block;
  padding: 8px;
}

footer .social-links img {
  width: 24px;
  height: 24px;
}
footer a {
  text-decoration: none;
  cursor: pointer;
}
.page-number {
  font-weight: 500;
  color: #222222;
  font-size: 14px;
}